---
layout: handbook-page-toc
title: "Quality Engineering Sub-Department"
description: "quality Engineering Sub-Department"
---

## On this page

{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .toc-list-icons .hidden-md .hidden-lg}

{::options parse_block_html="true" /}

- - -

## Active Quarter OKRs

<iframe src="https://app.ally.io/public/LXRjSFaQpWM5PDC" class="dashboard-embed" height="1000" width="100%" style="border:none;"> </iframe>

## Quality Engineering Structure

Quality Engineering is function under the Quality Department operating as several teams of Software Engineers in Test, each led by a Quality Engineering Manager reporting to the Quality Engineering Sub-Department Leader.

```mermaid
graph TD
    A[Quality Department]
    A --> B[Engineering Analytics Team]
    B --> BA[Engineering Analyst]
    B --> BB[Engineering Analyst]
    A --> C(Quality Engineering)
    C --> CA(Quality Engineering Team)
    CA --> CAA[Software Engineer in Test]
    CA --> CAB[Software Engineer in Test]
    CA --> CAC[Software Engineer in Test]
    C --> CB(Quality Engineering Team)
    CB --> CBA[Software Engineer in Test]
    CB --> CBB[Software Engineer in Test]
    CB --> CBC[Software Engineer in Test]
    A --> D[Engineering Productivity Team]
    D --> DA[Engineering Productivity Engineer]
    D --> DB[Engineering Productivity Engineer]
    style C fill:#bbf,stroke:#f66,stroke-width:2px, color:#fff
    style CA fill:#bbf,stroke:#f66,stroke-width:2px, color:#fff
    style CAA fill:#bbf,stroke:#f66,stroke-width:2px, color:#fff
    style CAB fill:#bbf,stroke:#f66,stroke-width:2px, color:#fff
    style CAC fill:#bbf,stroke:#f66,stroke-width:2px, color:#fff
    style CB fill:#bbf,stroke:#f66,stroke-width:2px, color:#fff
    style CBA fill:#bbf,stroke:#f66,stroke-width:2px, color:#fff
    style CBB fill:#bbf,stroke:#f66,stroke-width:2px, color:#fff
    style CBC fill:#bbf,stroke:#f66,stroke-width:2px, color:#fff
```

### Open roles

Quality Engineering is actively hiring! Please view [our jobs page](https://boards.greenhouse.io/gitlab) to read more and apply.

### Management team

<%
director_role = 'Director of Quality Engineering'
manager_role = 'Quality Engineering Manager'
roles_regexp = /(Engineer in Test)/
%>

<%= shared_team_members(role_regexps: [/(Director of Quality Engineering|Quality Engineering Manager)/i]) %>

### Individual contributors

<%= stable_counterparts(role_regexp: roles_regexp, direct_manager_role: manager_role) %>

## How we Work

While this team operates as a several teams, we emphasize on ensuring the prioritization and needs of Engineering Leaders via stable counterparts.

### Stable counterparts

Every Software Engineer in Test (SET) takes part in building our product as a DRI in [GitLab's Product Quad DRIs](/handbook/product/product-processes/#pm-em-ux-and-set-quad-dris).
They work alongside Development, Product, and UX in the [Product Development Workflow](/handbook/product-development-flow/#build-phase-1-plan).
As stable counterparts, SETs should be considered critical members of the core team between Product Designers, Engineering Managers and Product Managers.

- SETs should receive invites and participate in all relevant product group collaborations (meeting recordings, retro issues, planning issues, etc).
- SETs should operate proactively, not waiting for other stable counterparts to provide them direction.
The area a Software Engineer in Test is responsible for is defined in the [Product Stages and Groups](/handbook/product/categories/#hierarchy) and part of their title.

Every Quality Engineering Manager is aligned with an Engineering Director in the Development Department.
They work at a higher level and align cross-team efforts which maps to a [Development Department section](/handbook/product/categories/#hierarchy).
The area a Quality Engineering Manager is responsible for is defined in the [Product Stages and Groups](/handbook/product/categories/#hierarchy) and part of their title.
This is with the exception of the Engineering Productivity team which is based on the [span of control](/company/team/structure/#management-group).

### Engage with Us

Feel free to reach out to us by opening an issue on the [Quality Team Tasks project](https://gitlab.com/gitlab-org/quality/team-tasks/-/issues) or contacting us in one of the Slack channels listed below.

| Team                           | GitLab.com handle  | Slack channel | Slack handle |
| ------------------------------ | ------------------ | ------------- | ------------ |
| Quality Engineering            | [`@gl-quality/qe-sub-dept`](https://gitlab.com/gl-quality/qe-sub-dept) | [#quality](https://gitlab.slack.com/archives/C3JJET4Q6) | None |
| [Dev QE team](qe-subdept/dev-qe-team)     | [`@gl-quality/dev-qe`](https://gitlab.com/gl-quality/dev-qe) | [#g_qe_dev](https://gitlab.slack.com/archives/CU90UDHC6) | `@dev-qe-team` |
| [Ops QE team](qe-subdept/ops-qe-team) | [`@gl-quality/ops-qe`](https://gitlab.com/gl-quality/ops-qe) | [#g_qe_ops](https://gitlab.slack.com/archives/CUGNRS97V) | `@ops-qe-team` |
| [Sec & Enablement QE team](qe-subdept/sec-enablement-qe-team) | [`@gl-quality/enablement-qe`](https://gitlab.com/gl-quality/enablement-qe) | [#g_qe_enablement_secure](https://gitlab.slack.com/archives/CTP7N0PM4) | `@enablement-secure-qe-team` |
| [Fulfillment & Growth QE team](qe-subdept/fulfillment-growth-qe-team) | [`@gl-quality/fulfillment-qe`](https://gitlab.com/gl-quality/fulfillment-qe) | [#g_qe_fulfillment_growth](https://gitlab.slack.com/archives/C014UQAC8JW) |`@fulfillment-growth-qe-team` |

## Processes

### On-call rotations

The Quality Engineering Sub-Department has two on-call rotations: pipeline triage (SET-led) and incident management (QEM-led). These are scheduled in advance to share the responsibilities of debugging pipeline failures and representing Quality in incident responses.

For more information, please visit our [on-call rotation page](qe-subdept/oncall-rotation).

### Quad Planning

The Quality Engineering Sub-Department helps facilitate the quad-planning process.
This is the participation of Product Management, Development, UX, and Quality which aims to bring test planning as a topic before the development of any feature.

For more information, please visit our [quad planning page](qe-subdept/quad-planning).

### Risk Mapping

The Quality Engineering Sub-Department helps facilitate the risk mapping process. This requires the participation of Product Management, Development, UX, and the Quality team to develop a strategic approach to risk and mitigation planning.

For more information, please visit our [risk mapping page](qe-subdept/risk-mapping).

### Test Engineering

The Quality Engineering Sub-Department helps facilitate the test planning process for all things related to Engineering work.

For more information, please visit our [test engineering page](qe-subdept/test-engineering).

## Performance Indicators
